body {
  background-image: url("https://t3.ftcdn.net/jpg/00/74/04/66/360_F_74046684_nfxl9VtPQwuTAqahg59AclumPaSVCtQp.jpg");
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3% 22.5%;
}

.container {
    background-image: linear-gradient(to bottom, #6495ed 0%, #f1f1f2 100%);
    border-radius:32px;
}

.exp-header {
  text-align: center;
}

img.profile {
  border-radius: 50%;
}

img.profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.profile {
  border-radius: 50%;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover img.profile {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  border-radius: 30px;
  background-color: #4CAF50;
  font-size: 15px;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
}
a.profile-link {
  color: white;
  background-color: none;
  text-decoration: none;
  
}

p.intro {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

section.li-group-info, section.jb-vang-info, section.mei-pa-info, section.mei-exp-info, section.njcf-info, section.education {
  text-align: center;
  border-top: 2px solid #ffcc99;
  padding-top: 20px;
} 

img.logo {
  border-radius: 10px;
  text-align: center;
}

img.logo:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h3, h4, h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
  font-size: 14px;
}

img.gburg-logo:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img.gburg-logo {
  border-radius: 50%;
}
