body {
  background: rgb(9,79,121);
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  font-family: Arial, Helvetica, sans-seriff;
  margin: 10% 10%
}

.exp-header{
  text-align: center
}

img.profile{
  border-radius: 50%
}

p.intro{
  text-align: justify
}

.info{
  text-align:
}

h3, h4, h5,{
  margin-bottom: 10px;
  margin-top: 10px;
}

li{
  font-size: 14px
}

img.logo{
  border-radius: 15px 
}

.education{
  text-align: center
}
