body {
  background-image: url("https://t3.ftcdn.net/jpg/00/74/04/66/360_F_74046684_nfxl9VtPQwuTAqahg59AclumPaSVCtQp.jpg");
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}

.container {
  background-image: linear-gradient(to bottom, #6495ed 0%, #f1f1f2 100%);
  border-radius:32px;
  margin: 3% 22.5%;
  padding: 10px 75px 10px 75px;
}

.exp-header {
  text-align: center;
}

p.intro {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

section.li-group-info, section.jb-vang-info, section.mei-pa-info, section.mei-exp-info, section.njcf-info, section.education {
  text-align: center;
  border-top: 2px solid #ffcc99;
  padding-top: 20px;
} 

h3, h4, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  font-size: 14px;
}

.img-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

img.profile {
  border-radius: 50%;
  text-align: center;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

img.logo {
  border-radius: 10px;
  text-align: center;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

img.gburg-logo {
  border-radius: 50%;
  text-align: center;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

img.profile:hover, img.logo:hover, {
  opacity: 0.2;
}

.middle:hover {
  opacity: 1;
}

.text {
  border-radius: 30px;
  background-color: #4CAF50;
  font-size: 15px;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  background-color: none;
}

.mei-text {
  border-radius: 30px;
  background-color: #4CAF50;
  font-size: 15px;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  background-color: none;
  cursor: not-allowed;
}

a.profile-link, a.logo {
  color: white;
  background-color: none;
  text-decoration: none;
}

h5.address {
  color: black;
  background-color: none;
  text-decoration: none;
}
